{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
        <div>
          <input class="following-id" type="hidden" value="{{following.id}}">
          <div class="following-nic">{{following.nick}}</div>
          <button class="twit-follow-cancle">팔로우 끊기</button>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  document.querySelectorAll('.twit-follow-cancle').forEach((btn) => {
    btn.addEventListener('click', async (e) => {
      const myId = document.querySelector('#my-id').value;
      const userId = e.target.parentNode.querySelector('.following-id').value;
      
      if (userId !== myId) {
        if (confirm('팔로우를 끊으시겠습니까?')) {
          try {
            await axios.post(`/user/${userId}/unfollow`);
            location.reload();
          } catch (err) {
            console.error(err);
          }
        }
      }
    });
  });
</script>
{% endblock %}